Body {
    background-color: #fef6e9;
}

.gameBoard {
position: relative;
width: 1440px;
height: 1024px;
}

#HitPoints{
position: absolute;
width: 260px;
height: 34px;
left: 29px;
top: 39px;

background: url(gradient_linear.png);
}