Body {
    background: url('./Images/Game-background.png') no-repeat center center fixed;
    background-size: cover;
    background: static;
    overflow: hidden;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150%;
}

.gameText {
    position: fixed;
    white-space: nowrap;
}

h1 {
    position: absolute;
    text-align: center;
    margin: 5px 0px 0px 510px;
    height: auto;
    width: auto;
    font-family: 'Silkscreen', cursive;
    font-size: 57px;
    background: linear-gradient(to right, red , orange, yellow, green, blue, violet);
    
    
}
h2 {
    position: absolute;
    text-align: center;
    margin: 570px 0px 0px 310px;
    height: auto;
    width: auto;
    font-family: 'Silkscreen', cursive;
    font-size: 35px;
    
    
}

#GameStart {
    text-align: center;
    margin: 600px 0px 0px 1200px;
    position: absolute;
    background-color: #4CAF50;
    border: black 3;
    color: white;
    display: inline-block;
    font-family: 'Silkscreen', cursive;
    font-size: 36px;
    cursor: pointer;

}

#Reset {
    text-align: center;
    margin: 700px 0px 0px 1200px;
    position: absolute;
    background-color: #4CAF50;
    border: black 3;
    color: white;
    display: inline-block;
    font-family: 'Silkscreen', cursive;
    font-size: 36px;
    cursor: pointer;
}


#switches {
    position: fixed;
    margin-left: 590px;
    margin-top: 750px;
    font-family: 'Silkscreen', cursive;
    white-space: nowrap;
  }


.gameBoard {
    display: static;
    width: 1440px;
    height: 1024px;
    padding: 30px 30px;
}

#HealthBar{
    position: absolute;
    width: 260px;
    height: 34px;
    left: 29px;
    top: 39px;
    color: #03d931;
    /* background-image: linear-gradient(to right, red , yellow, green); */
}

.flex-box {
    display: flex;
    justify-content: center;
}

#GameBoardBackground {
    position: absolute;
    width: 824px;
    height: 732px;
    left: 300px;
    top: 73px;
    background: rgba(0, 238, 255, 0.732);
    border-radius: 219px;
}

.levelIndicator {
    position: absolute;
    font-family: 'Silkscreen', cursive;
    font-size: 45px;
    text-align: center;
    margin: 633px 0px 0px 320px;
    color: #ff0000;
    
  }

#turn {
    position: absolute;
    font-family: 'Silkscreen', cursive;
    font-size: 40px;
    margin: 636px 0px 0px 500px;
    color: #ff0000;
    
}


#Red {
    position: absolute;
    width: 199px;
    height: 190px;
    left: 509px;
    top: 137px;
    justify-content: center;
    background: #ff0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;
}

#Blue {
    position: absolute;
    width: 199px;
    height: 190px;
    left: 509px;
    top: 357px;
    justify-content: center;
    background: #1f36ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;
}

#Green {
    position: absolute;
    width: 199px;
    height: 190px;
    left: 733px;
    top: 137px;
    justify-content: center;
    background: #03d931;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;
}

#Purple {
    position: absolute;
    width: 199px;
    height: 190px;
    left: 733px;
    top: 357px;
    justify-content: center;
    background: #aa11c2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;
}